
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Confirm Password</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/snippet/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/snippet/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/snippet/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</head>
<body>








    <div class="container login-container">
        <img class="triangleA" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleA_lwqhnl.png" alt='Onestop triangle'>
        <div class="row">
            <div class="col-md-6 welcome_auth">
                <div class="auth_welcome">
                    Find more bootstrap 4 components & templates on <span><a href="#">procraft.studio</a></span>
                </div>
            </div>
            <div class="col-md-6 login-form">
                <div class="login_form_in">
                    <div class="auth_branding">
                        <a class="auth_branding_in" href="https://procraft.studio"><img src="https://res.cloudinary.com/procraftstudio/image/upload/v1613964589/Procraft-Studio-Logo-1_tnfxuj.jpg" alt='Procraft Studio'></a>
                    </div>
                    <h1 class="auth_title text-left">Şifre Sıfırlama</h1>
                   
                    
                        <div class="alert alert-success bg-soft-primary border-0" role="alert">
                          E-mail adresinize yeni şifrenizi gönderdik. Butona tıklayıp login ekranına gidebilir,mail adresinize gelen şifreyle giriş yapabilir ve daha sonrasında şifrenizi değiştirebilirsiniz.
                        </div>
                        
                        <div class="form-group">
                            <a href="/Login/WriterLogin/"  class="btn btn-primary btn-lg btn-block">Login Ekranına Dön</a>
                        </div>


                    


                </div>
            </div>
        </div>
    </div>

    <img class="triangleB" src="https://res.cloudinary.com/procraftstudio/image/upload/v1613965232/triangleB_isffjy.png" alt='Onestop triangle'>
    <script type="text/javascript" src="~/AdminLTE-3.0.4/snippet/js/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="~/AdminLTE-3.0.4/snippet/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="~/AdminLTE-3.0.4/snippet/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="~/AdminLTE-3.0.4/snippet/js/mdb.min.js"></script>
    <!-- Your custom scripts -->
    <script type="text/javascript" src="~/AdminLTE-3.0.4/snippet/js/script.js"></script>

</body>
</html>
<!-- jQuery -->
